
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root{
   --corLaranja: #ffd700;
   --corAzul: #002a73;
   --corBranca: #fff;
   --corAzulClaro: #5fa4fb;
   --corCinzaEscuro: #8d8d8d;
   --corAzulEscuro: #090117; 
}

html{
   scroll-behavior: smooth; 
}

body{
    background-color: var(--corAzulEscuro);
}

.interface{
    max-width: 1380px;
    padding: 0 4%;
    margin: 0 auto;
}

button{
    background-color: transparent;
    border: 2px solid var(--corBranca);
    border-radius: 8px;
    color: var(--corBranca);
    cursor: pointer;
    font-size: 1.1rem;
    transition: .5s;
}

button:hover{
    background-color: var(--corLaranja);
    color: var(--corAzul)
}

h1.título-section{
    font-size: 4rem;
    color: var(--corBranca);
}

h1.título-section span{
   color: var(--corLaranja); 
}

/* ESTILO DO CABEÇALHO */
header{
    background-color: transparent;
    padding: 16px;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to left, var(--corAzul) 70%, var(--corLaranja) 30%);
    z-index: 99999999;
}

header > .interface{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

header .logotipo-cabecalho img{
    max-width: 200px;
}

header nav.menu-desktop ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 56px;
}

header nav.menu-desktop a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .5s;
}

header nav.menu-desktop a:hover{
    color: var(--corLaranja);
}

header nav.menu-desktop button{
    width: 144px;
    height: 48px;
}

/* Estilo do menu mobile */

.btn-menu-mobile, .menu-mobile{
    display: none;
}

.btn-menu-mobile i{
    font-size: 2.8rem;
    color: var(--corAzul);
}

.menu-mobile{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: var(--corAzul);
    text-align: right;
    padding: 32px 0;
    pointer-events: none;
    transition: .5s;
}

.menu-mobile ul{
   list-style: none;
   padding: 64px 0;
}

.menu-mobile ul li a{
    color: var(--corLaranja);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 24px;
    display: block;
    transition: .2s;
}

.menu-mobile ul li a:hover{
   background-color: var(--corLaranja);
   color: var(--corAzul);
}

.menu-mobile .bi-x-lg{
   font-size: 2rem;
   color: var(--corLaranja);
   padding: 24px; 
}

.menu-mobile.abrir-menu{
    left: 0;
    pointer-events: initial;
}

/* ESTILO DA HERO */
section.hero{
    background-image: linear-gradient(to left, var(--corAzul) 70%, var(--corLaranja) 30%);
    padding-top: 140px;
}

.hero >.interface{
    display:flex;
    align-items: center;
    gap: 120px;    
}

.hero .img-hero{
   line-height: 0; 
}

.hero .txt-hero h1{
    font-size: 3rem;
    color: var(--corBranca);
    font-weight: 200;
}

.hero .txt-hero h1 span{
    color: var(--corLaranja);
    display: block;
    font-weight: 900;
    font-size: 3rem;
}

.hero .txt-hero p{
    color: var(--corBranca);
    line-height: 1.6;
    font-size: 1.2rem;
    margin: 24px 0;
}

.hero .txt-hero button{
    width: 200px;
    height: 48px;
}

/* ESTILO DA SESÃO SOBRE MIM */
section.sobre-mim{
  padding: 80px 0;  
}

.sobre-mim > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}


.sobre-mim .txt-sobre p{
    color: var(--corCinzaEscuro);
    text-align: justify;
    line-height: 1.6;
    margin: 24px 0;
}

.sobre-mim .btn-redes button, footer .btn-redes button{
    width: 56px;
    height: 56px;
    font-size: 24px;
    margin-right: 8px;
}

/* ESTILO DA SESSÃO HABILIDADES */
section.skills{
    padding: 80px 0;
    background-color: var(--corAzul);
}

.skills article{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 16px;
    margin: 24px 0;
}

.skills .box-skills{
    background-color: var(--corAzulEscuro);
    padding: 24px;
    border-radius: 16px;
    }

.box-skills .icon-skills{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 16px;
}

.box-skills .icon-skills img{
    max-width: 80px;
}

.icon-skills h2{
    color: var(--corBranca);
}

.icon-skills h2 span{
    color: var(--corLaranja);
}

.box-skills p{
    color: var(--corCinzaEscuro);
    text-align: justify;
    line-height: 1.6;
}

.skills .btn-contato{
    text-align: center;    
}

.skills .btn-contato button{
    width: 200px;
    height: 48px;
}

/*ESTILO DO PORTFÓLIO  */
section.portfolio{
    padding: 80px 0;
}

.portfolio p{
    color: var(--corBranca);
    margin: 16px 0 48px 0;
}

.portfolio .portfolio-container{
   display: grid;
   grid-template: 1fr / 1fr 1fr 1fr 1fr;
   gap: 24px; 
}

.portfolio-container .portfolio-box{
    min-width: 200px;
    height: 400px;
    border: 2px solid var(--corLaranja);
    border-radius: 16px;


    background-size: cover;
    background-position-y: 0%;
    transition: background-position-y 10s;

    position: relative;
}

.portfolio-container .portfolio-box .infor-portfolio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #17043bb3;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--corBranca);
    font-size: 18px;
    font-weight: 600;

    opacity: 0;
    transition: .5s;
}

.portfolio-container .portfolio-box .infor-portfolio:hover{
    opacity: 1;
}

.portfolio-container .portfolio-box:hover{
    background-position-y: 100%;
}


.portfolio-container .projeto1{
   background-image: url(../images/projetos/projeto1.png); 
}

.portfolio-container .projeto2{
   background-image: url(../images/projetos/projeto2.png); 
}

.portfolio-container .projeto3{
   background-image: url(../images/projetos/projeto3.png); 
}

.portfolio-container .projeto4{
   background-image: url(../images/projetos/projeto4.png); 
}

/* ESTILO DO FORMULÁRIO */
section.contato{
   padding: 80px 0;
   background-color: var(--corAzul); 
}

.contato > .interface{
   display: flex; 
   justify-content: space-between;
}

.contato .txt-contato p{
    color: var(--corCinzaEscuro);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
}

.contato .txt-contato p i{
    color: var(--corLaranja);
    font-size: 2rem;
}

.contato form{
    width: 50%;
}

.contato form input, .contato form textarea{
   width: 100%;
   padding: 16px 10px;
   background: transparent;
   border: 2px solid var(--corLaranja);
   outline: none;
   color: var(--corBranca);
   font-size: 1.1rem;
   border-radius: 8px;
   margin-bottom: 8px;
}

.contato form .tel-proj{
    display: flex;
    align-items: center;
    gap: 8px;
   }

   .contato form textarea{
    resize: none;
    height: 159px;
   }

   .contato form .btn-enviar input{
    border-color: var(--corBranca);
    transition: .5s;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;

   }

   .contato form .btn-enviar input:hover{
    background-color: var(--corLaranja);
    color: var(--corAzul);
    border-color: var(--corLaranja);
   }

   /* ESTILO DO RODAPÉ */
footer{
    padding: 40px 0;
}

footer > .interface{
    display: flex;
    justify-content: space-between;
    color: var(--corCinzaEscuro);
    }

    footer .logo-footer img{
       max-width: 160px;
       margin-bottom: 16px; 
    }
